<div id="todos" class="container">
  <h1>My Toodoos</h1>

  <ul>
      <li><%= current_user.username %></li>
      <li><%= link_to 'logout', '/logout', method: :get %></li>
  </ul>

  <% if @todos.length == 0 %>
    <p>The toodoo list is empty</p>
  <% end %>

  <% @todos.each do |todo| %>
      <%= render 'todos/todo', todo: todo %>
  <% end %>

  <%= form_for @todo do |f| %>
    <%= f.text_field :content, placeholder: 'Toodoo...' %>
    <%= f.submit 'Add' %>
  <% end %>
</div>